*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html{
  scroll-behavior: smooth;
}


.projects{
  @media only screen and (max-width: 450px) {
  max-width: 95%;
  margin: auto;
  }
}

.project-box {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.project-box.visible {
  opacity: 1;
  transform: translateY(0);
}
.progress-bar-container {
  position: fixed;
  top: 120px; 
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #f3f3f3;
  z-index: 101;
}

.progress-bar {
  height: 100%;
  background-color: #9845e8; 
  transition: width 0.1s ease-out;
}


.tech-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

